* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

:root::-webkit-scrollbar {
    display: none;
}
:root {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.br-os-container {
    width: 100%;
    min-height: 100vh;
    background: #150222;
}
#br-os-apps {
    width: 100%;
    padding: 10px;
}
#br-os-apps .app {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}
#br-os-apps .app img {
    width: 64px;
    margin: 0 auto;
}
#br-os-apps .app p {
    color: antiquewhite;
    font-size: 14px;
    text-align: center;
}
#taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: rgb(15, 144, 95);
    box-shadow: 0 -3px 5px rgba(46, 255, 74, 0.3),
                0 -3px 10px rgba(46, 255, 74, 0.3);
}
.br-os-window {
    position: absolute;
    top: 20vh;
    left: 20%;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60vh;
    border: 1px solid #EEE;
    border-radius: 10px;
    overflow: hidden;
    resize: both;
    transition: 0.3s;
}
.br-os-window .window-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(182, 182, 182);
    padding: 0 10px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.br-os-window .window-bar:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.br-os-window .window-bar .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.br-os-window .window-bar .brand img {
    width: 32px;
}
.br-os-window .window-bar .brand p {
    color: rgb(73, 0, 0);
    margin-left: 10px;
}
.br-os-window .window-bar .brand .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.br-os-window .window-bar .brand .buttons button {
    border: none;
    outline: none;
    margin-right: 5px;
    color: #FFF;
    padding: 5px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.br-os-window .window-bar .brand .buttons button:first-child {
    background: rgb(3, 82, 0);
}
.br-os-window .window-bar .brand .buttons button:nth-child(2) {
    background: rgb(59, 0, 82);
}
.br-os-window .window-bar .brand .buttons button:nth-child(3) {
    background: rgb(121, 45, 1);
}
.br-os-window .window-bar .brand .buttons button:last-child {
    background: rgb(255, 43, 43);
    margin-right: 0;
}
.br-os-window .window-bar .brand .buttons button:hover {
    background: rgb(182, 182, 182);
    color: rgb(255, 43, 43);
}
.br-os-window .app {
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow: auto;
}
#os-ct-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(255, 255, 255, 0,3),
                6px 10px 10px rgba(255, 255, 255, 0,3);
}
#os-ct-menu ul li {
    color: rgb(46, 26, 3);
}
#os-ct-menu ul li:hover {
    background: antiquewhite;
}
#os-ct-menu.active {
    display: block;
}